@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');
:root {
    --lgt-green: #00FFAB;
    --drk-green: #14C38E;
    --lime: #B8F1B0;
    --drk-grey: #1F2937;
    --lgt-grey: #2F3E53;
    --fd-grey: #D9D9D9;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #000;
    /* font-family: 'Karla', sans-serif; */
    font-family: 'Roboto Mono', sans-serif;
    letter-spacing: 1px;
    margin: 0;
}

h1 {
    color: #FFF;
    font-weight: 700;
    margin-bottom: 0px;
    text-align: center;
}

label,
.green-text {
    color: var(--lgt-green);
}

p {
    color: var(--fd-grey);
    font-size: 12px;
    margin-top: 10px;
    padding: 0;
    text-align: center;
}

input {
    display: grid;
    justify-content: center;
}

.btn {
    font-family: 'Roboto Mono', sans-serif;
    background-color: var(--drk-green);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    left: 25%;
    top: auto;
    padding: 10px 15px;
    position: relative;
}

.btn:hover {
    background-color: var(--lime);
    color: var(--drk-grey);
    cursor: pointer;
}

.card {
    background-color: var(--drk-grey);
    border-radius: 20px;
    height: 450px;
    padding: 30px 60px;
    width: 500px;
    grid-row: 2/4;
    grid-column: 2/3;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr 6fr 1fr;
}

.card-holder {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.input-form {
    padding: 20px;
    text-align: center;
}

.input-form input {
    display: inline;
}

.result-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    margin: 50px;
    background-color: var(--lgt-grey);
    border: none;
    border-radius: 4px;
    height: 60px;
    letter-spacing: 2px;
}

.result-container #password {
    color: #55F991;
    margin: 20px;
}

.result-container .copy-btn {
    background-color: var(--lgt-grey);
    border: none;
    color: var(--lgt-green);
    cursor: pointer;
    float: right;
    margin: 10px 10px;
    font-size: 20px;
    position: absolute;
    top: px;
    right: 5px;
}

.copy-btn:hover {
    color: var(--lime);
}

#numchar {
    text-align: center;
    width: 40px;
}

.tooltip .tooltiptext {
    font-family: 'Roboto Mono', sans-serif;
    visibility: hidden;
    width: 100px;
    background-color: var(--drk-green);
    color: #FFF;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -50px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 16px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 8px;
    border-style: solid;
    border-color: var(--drk-green) transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}